@charset "UTF-8";
.para, .para_light {
  font-family: LatoRegular;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  text-transform: initial;
}
@media only screen and (min-width: 992px) {
  .para, .para_light {
    text-align: left;
  }
}
@media only screen and (min-width: 576px) {
  .para, .para_light {
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 992px) {
  .para, .para_light {
    font-size: 1.25rem;
  }
}

.para_light {
  font-family: LatoLight;
}

.btn {
  font-family: LatoBold;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 40px;
  display: inline-block;
  background-color: #fba419;
}
@media only screen and (min-width: 992px) {
  .btn {
    text-align: left;
  }
}
.btn:hover {
  background-color: #dd8a04;
  color: white;
}

.btn_wrapper {
  text-align: center;
}

.section_heading, .small_heading, .section_heading_yellow {
  font-family: LatoHeavy;
  font-size: 3rem;
  color: #383738;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .section_heading, .small_heading, .section_heading_yellow {
    text-align: left;
  }
}
@media only screen and (min-width: 576px) {
  .section_heading, .small_heading, .section_heading_yellow {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .section_heading, .small_heading, .section_heading_yellow {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .section_heading, .small_heading, .section_heading_yellow {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section_heading, .small_heading, .section_heading_yellow {
    font-size: 5.5rem;
  }
}

.section_heading_yellow {
  color: #fba419;
}

.bg_yellow {
  background-color: #fba419;
}

.yellow {
  color: #fba419 !important;
}

.black {
  color: #383738 !important;
}

.white {
  color: white !important;
}

.border {
  background-color: #fba419;
  height: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .border {
    width: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .border {
    width: 300px;
    margin-left: 0;
  }
}

.small_heading {
  color: white;
  font-size: 1.6rem;
}

@font-face {
  font-family: LatoBlack;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: LatoBlackItalic;
  src: url("../fonts/Lato-BlackItalic.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBoldItalic;
  src: url("../fonts/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: LatoItalic;
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoLightItalic;
  src: url("../fonts/Lato-LightItalic.ttf");
}
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoThin;
  src: url("../fonts/Lato-Thin.ttf");
}
@font-face {
  font-family: LatoThinItalic;
  src: url("../fonts/Lato-ThinItalic.ttf");
}
@font-face {
  font-family: LatoHeavy;
  src: url("../fonts/Lato-Heavy.ttf");
}
#main {
  background: url("../img/main_bg.jpg") no-repeat center center;
  background-size: cover;
}
#main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
  font-family: LatoBlack;
  color: white;
  font-size: 3rem;
  line-height: 50px;
}
@media only screen and (min-width: 576px) {
  #main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
    font-size: 3.3rem;
    line-height: 56px;
  }
}
@media only screen and (min-width: 768px) {
  #main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
    font-size: 3.6rem;
    line-height: initial;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
    font-size: 4.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
    font-size: 5.5rem;
    line-height: initial;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .section_heading, #main .container .section_heading_yellow, #main .container .small_heading {
    font-size: 7rem;
  }
}
#main .container .para, #main .container .para_light {
  margin-top: 45px;
}
#main .container .btn_wrapper {
  margin-top: 65px;
}

#wearecreative {
  background: url("../img/corner_bottom.png") no-repeat center top, url("../img/wearecreative_sm.jpg") no-repeat right bottom;
  background-size: 270px, 100%;
}
@media only screen and (min-width: 576px) {
  #wearecreative {
    background-size: 300px, 650px;
  }
}
@media only screen and (min-width: 992px) {
  #wearecreative {
    background: url("../img/corner_bottom.png") no-repeat center top, url("../img/wearecreative.jpg") no-repeat top right;
  }
}
#wearecreative .container .texts {
  margin-top: 80px;
}
@media only screen and (min-width: 1200px) {
  #wearecreative .container .btn_wrapper {
    margin-top: 80px !important;
  }
}

#ourBestTeam {
  background-color: #2f2f2f;
}
#ourBestTeam .container .team-gallery .card h2 {
  font-family: LatoHeavy;
  font-size: 1.5rem;
  color: #fba419;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  #ourBestTeam .container .team-gallery .card h2 {
    text-align: left;
  }
}
#ourBestTeam .container .team-gallery .card .para, #ourBestTeam .container .team-gallery .card .para_light {
  color: #383738;
  text-transform: capitalize;
}

#ourWork .container .row .texts .para, #ourWork .container .row .texts .para_light {
  color: #707070;
}
@media only screen and (min-width: 992px) {
  #ourWork .container .row .work_gallery {
    transform: translateX(110px);
  }
}
#ourWork .container .row .work_gallery .row .img-wrapper {
  margin-bottom: 25px;
}
@media only screen and (min-width: 576px) {
  #ourWork .container .row .work_gallery .row .img-wrapper {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  #ourWork .container .row .work_gallery .row .img-wrapper .custom {
    height: 104%;
  }
}
#whyChooseUs {
  background-color: #2f2f2f;
}
@media only screen and (min-width: 1200px) {
  #whyChooseUs {
    background: #2f2f2f url("../img/why_choose_us.jpg") no-repeat left center;
    background-size: 50%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 1400px) {
  #whyChooseUs {
    background-position: left center;
    background-size: 47%;
  }
}
@media only screen and (min-width: 1200px) {
  #whyChooseUs .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  #whyChooseUs .container aside {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #whyChooseUs .container aside {
    margin-top: 0px;
  }
}
#whyChooseUs .container aside .item-wrap {
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  #whyChooseUs .container aside .item-wrap {
    max-width: initial;
  }
}

#ourBestService {
  background: url("../img/ourBestService.jpg") no-repeat center bottom;
  background-size: 100% 1550px;
}
@media only screen and (min-width: 576px) {
  #ourBestService {
    background-size: 100% 1780px;
  }
}
@media only screen and (min-width: 768px) {
  #ourBestService {
    background-size: 100% 1070px;
  }
}
@media only screen and (min-width: 992px) {
  #ourBestService {
    background-size: 100% 1050px;
  }
}
@media only screen and (min-width: 1200px) {
  #ourBestService {
    background-size: 50% 102%;
    background-position: right center;
  }
}
@media only screen and (min-width: 1200px) {
  #ourBestService .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  #ourBestService .container .texts {
    padding-right: 55px;
  }
}
@media only screen and (min-width: 1400px) {
  #ourBestService .container .texts {
    padding-right: 80px;
  }
}
#ourBestService .container .service_features {
  margin-top: 200px !important;
  padding: 60px 30px;
  background: #2f2f2f;
  border-radius: 12px;
}
@media only screen and (min-width: 768px) {
  #ourBestService .container .service_features {
    margin-top: 150px !important;
  }
}
@media only screen and (min-width: 1200px) {
  #ourBestService .container .service_features {
    margin-top: 0px !important;
  }
}
#ourBestService .container .service_features .item {
  text-align: center;
}
#ourBestService .container .service_features .item img {
  max-width: 150px;
}
@media only screen and (min-width: 1200px) {
  #ourBestService .container .service_features .item img {
    max-width: 110px;
  }
}
#ourBestService .container .service_features .item .para_light {
  max-width: 400px;
  text-align: justify;
}

@font-face {
  font-family: IconFont;
  src: url("../fonts/LetterGothicStd.otf");
}
@media only screen and (min-width: 1400px) {
  #ourClientSay {
    background: white url("../img/black_bg.png") no-repeat left center;
    background-size: 25% 100%;
  }
}
#ourClientSay .container-fluid {
  padding-top: 80px;
  padding-bottom: 80px;
}
#ourClientSay .container-fluid .small_heading {
  font-size: 1.15rem;
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid .texts,
#ourClientSay .container-fluid .highlight_img,
#ourClientSay .container-fluid .comment,
#ourClientSay .container-fluid .highlight_img > img {
    border-radius: 0px !important;
  }
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 1600px;
  }
}
#ourClientSay .container-fluid .texts {
  background-color: #2f2f2f;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
@media only screen and (min-width: 576px) {
  #ourClientSay .container-fluid .texts {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid .texts {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
  }
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid .texts .comm_wrap {
    margin-top: 70px !important;
  }
}
@media only screen and (min-width: 1650px) {
  #ourClientSay .container-fluid .texts .comm_wrap {
    margin-top: 150px !important;
  }
}
#ourClientSay .container-fluid .texts .comments {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 576px) {
  #ourClientSay .container-fluid .texts .comments {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1600px) {
  #ourClientSay .container-fluid .texts .comments:last-child {
    margin-top: 65px !important;
  }
}
#ourClientSay .container-fluid .texts .comments .para_light {
  position: relative;
}
#ourClientSay .container-fluid .texts .comments .para_light::before {
  content: "“";
  font-family: IconFont;
  font-size: 95px;
  color: #fba419;
  position: absolute;
  top: -50px;
  left: -30px;
}
@media only screen and (min-width: 576px) {
  #ourClientSay .container-fluid .texts .comments .para_light::before {
    font-size: 120px;
    position: absolute;
    top: -50px;
    left: -55px;
  }
}
#ourClientSay .container-fluid .highlight_img {
  text-align: center;
}
#ourClientSay .container-fluid .highlight_img img {
  max-width: 400px !important;
}
@media only screen and (min-width: 992px) {
  #ourClientSay .container-fluid .highlight_img img {
    width: 100% !important;
    max-width: 500px !important;
  }
}
@media only screen and (min-width: 1200px) {
  #ourClientSay .container-fluid .highlight_img img {
    max-width: 600px !important;
  }
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid .highlight_img img {
    max-width: initial !important;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100% !important;
    height: 100%;
  }
}
#ourClientSay .container-fluid .comment {
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#ourClientSay .container-fluid .comment .icon {
  font-family: IconFont;
  font-size: 250px;
  color: #fba419;
  font-style: normal;
  display: block;
  width: 145px;
  height: 80px;
  line-height: 220px;
  margin-top: 80px;
}
@media only screen and (min-width: 576px) {
  #ourClientSay .container-fluid .comment .icon {
    margin-top: 100px;
    margin-bottom: 75px;
  }
}
@media only screen and (min-width: 1400px) {
  #ourClientSay .container-fluid .comment .icon {
    font-size: 380px;
    width: 250px;
    height: 77px;
    line-height: 220px;
    margin-top: 280px;
    margin-bottom: 140px;
  }
}

#getInTouch {
  background: url("../img/getInTouch_bg_sm.jpg") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  #getInTouch {
    background: url("../img/getInTouch_bg.jpg") no-repeat center center;
    background-size: cover;
  }
}
#social_wrap {
  margin-top: 50px;
  max-width: 450px;
}
@media only screen and (min-width: 576px) {
  #social_wrap {
    max-width: 650px;
  }
}
@media only screen and (min-width: 768px) {
  #social_wrap {
    max-width: 720px;
  }
}
@media only screen and (min-width: 1200px) {
  #social_wrap {
    max-width: 100%;
    margin-top: 80px !important;
  }
}
#social_wrap div {
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  #social_wrap div {
    width: 12.5%;
  }
}
#social_wrap a {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 35px;
}
@media only screen and (min-width: 1200px) {
  #social_wrap a {
    margin-bottom: 0px;
  }
}
#social_wrap a i {
  display: inline-block;
}
#social_wrap a i::before {
  color: white;
  font-size: 3rem;
  margin-left: 0px;
}

#contact {
  background-color: #2f2f2f;
}
#contact .container {
  padding-bottom: 0px;
}
#contact .container .item .img_wrap img {
  max-width: 85px;
}
@media only screen and (min-width: 576px) {
  #contact .container .item .img_wrap img {
    max-width: 100px;
  }
}
#contact .footer_container {
  background: url("../img/bottom_bg.png") no-repeat center bottom;
  background-size: 700px;
  padding-top: 270px;
  padding-bottom: 80px;
}
#contact .footer_container .small_heading {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ca49ff !important;
}

a,
img {
  display: inline-block;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
