.para, .para_light {
  font-family: LatoRegular;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  text-transform: initial;
}
@media only screen and (min-width: 992px) {
  .para, .para_light {
    text-align: left;
  }
}
@media only screen and (min-width: 576px) {
  .para, .para_light {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 992px) {
  .para, .para_light {
    font-size: 1.5rem;
  }
}

.para_light {
  font-family: LatoLight;
}

.btn {
  font-family: LatoBold;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 40px;
  display: inline-block;
  background-color: #fba419;
}
@media only screen and (min-width: 992px) {
  .btn {
    text-align: left;
  }
}
.btn:hover {
  background-color: #dd8a04;
  color: white;
}

.btn_wrapper {
  text-align: center;
}

.section_heading, .section_heading_yellow {
  font-family: LatoHeavy;
  font-size: 3rem;
  color: #383738;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .section_heading, .section_heading_yellow {
    text-align: left;
  }
}
@media only screen and (min-width: 576px) {
  .section_heading, .section_heading_yellow {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .section_heading, .section_heading_yellow {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .section_heading, .section_heading_yellow {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section_heading, .section_heading_yellow {
    font-size: 5.5rem;
  }
}

.section_heading_yellow {
  color: #fba419;
}

.bg_yellow {
  background-color: #fba419;
}

.yellow {
  color: #fba419;
}

.black {
  color: #383738 !important;
}

.border {
  background-color: #fba419;
  height: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .border {
    width: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .border {
    width: 300px;
    margin-left: 0;
  }
}

@font-face {
  font-family: LatoBlack;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: LatoBlackItalic;
  src: url("../fonts/Lato-BlackItalic.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBoldItalic;
  src: url("../fonts/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: LatoItalic;
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoLightItalic;
  src: url("../fonts/Lato-LightItalic.ttf");
}
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoThin;
  src: url("../fonts/Lato-Thin.ttf");
}
@font-face {
  font-family: LatoThinItalic;
  src: url("../fonts/Lato-ThinItalic.ttf");
}
@font-face {
  font-family: LatoHeavy;
  src: url("../fonts/Lato-Heavy.ttf");
}
#main {
  background: url("../img/main_bg.jpg") no-repeat center center;
  background-size: cover;
}
#main .container .section_heading, #main .container .section_heading_yellow {
  font-family: LatoBlack;
  color: white;
  font-size: 3rem;
  line-height: 50px;
}
@media only screen and (min-width: 576px) {
  #main .container .section_heading, #main .container .section_heading_yellow {
    font-size: 3.3rem;
    line-height: 56px;
  }
}
@media only screen and (min-width: 768px) {
  #main .container .section_heading, #main .container .section_heading_yellow {
    font-size: 3.6rem;
    line-height: initial;
  }
}
@media only screen and (min-width: 992px) {
  #main .container .section_heading, #main .container .section_heading_yellow {
    font-size: 4.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container .section_heading, #main .container .section_heading_yellow {
    font-size: 5.5rem;
    line-height: initial;
  }
}
@media only screen and (min-width: 1400px) {
  #main .container .section_heading, #main .container .section_heading_yellow {
    font-size: 7rem;
  }
}
#main .container .para, #main .container .para_light {
  margin-top: 45px;
}
#main .container .btn_wrapper {
  margin-top: 65px;
}

#wearecreative {
  background: url("../img/corner_bottom.png") no-repeat center top, url("../img/wearecreative_sm.jpg") no-repeat right bottom;
  background-size: 270px, 100%;
}
@media only screen and (min-width: 576px) {
  #wearecreative {
    background-size: 300px, 650px;
  }
}
@media only screen and (min-width: 992px) {
  #wearecreative {
    background: url("../img/corner_bottom.png") no-repeat center top, url("../img/wearecreative.jpg") no-repeat top right;
  }
}
#wearecreative .container .texts {
  margin-top: 80px;
}
@media only screen and (min-width: 1200px) {
  #wearecreative .container .btn_wrapper {
    margin-top: 80px !important;
  }
}

#ourBestTeam {
  background-color: #2f2f2f;
}
#ourBestTeam .container .team-gallery .card h2 {
  font-family: LatoHeavy;
  font-size: 1.5rem;
  color: #fba419;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  #ourBestTeam .container .team-gallery .card h2 {
    text-align: left;
  }
}
#ourBestTeam .container .team-gallery .card .para, #ourBestTeam .container .team-gallery .card .para_light {
  color: #383738;
  text-transform: capitalize;
}

a, img {
  display: inline-block;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
