#main {
    background: url("../img/main_bg.jpg") no-repeat center center;
    background-size: cover;

    // navbar container 
    .nav_container {
        @include padY (40px, 40px);
        background-color: transparent;


        // common style 
        a, h2 {
            color: white;
        }

        .social {
            a {
                width: 55px;
                height: 55px;
                border: 3px solid white;
                text-align: center;
                text-decoration: none;
                i {
                    margin-top: 10px;
                    &::before {
                        margin-left: 0px;
                        font-size: 35px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }


    // main container 
    .main_container {
        .section_heading {
            font-family: LatoBlack;
            color: white;
            font-size: 3rem;
            line-height: 50px;
            @include resp($sm) {
                font-size: 3.3rem;
                line-height: 56px;
            }
            @include resp($md) {
                font-size: 3.6rem;
                line-height: initial;
            }
            @include resp($lg) {
                font-size: 4.2rem;

            }
            @include resp($xl) {
                font-size: 5.5rem;
                line-height: initial;
            }
            @include resp($xxl) {
                font-size: 7rem;
            }
        }
        .para {
            margin-top: 45px;
        }
        .btn_wrapper {
            margin-top: 65px;
        }
    }
}
