@mixin fonts ($f: Regular, $size: 1rem, $color: white, $align: center, $trans: initial) {
    font-family: $f;
    font-size: $size;
    color: $color;
    text-align: $align;
    text-transform: $trans;
    @include resp ($lg) {
        text-align: left;
    } 
}
// color variable 
$yellow: #fba419;
$black: #383738;
$bg_black: #2f2f2f;
$text_black: #707070;
$white: white;




// media variable 

  $xs: 0px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;



@mixin  resp ($break) {
    @media only screen and (min-width: $break) {
        @content;
    }
}

.para {
    @include fonts( LatoRegular, 1.2rem, white, left, initial);
    // responsive 
    @include resp ($sm) {
        letter-spacing: 1px;
    }
    @include resp ($lg) {
        font-size: 1.25rem;
    }
}

.para_light {
    @extend .para;
    font-family: LatoLight;
}


.btn {
    @include fonts( LatoBold, 1.1rem, white, center, uppercase);
    padding: 10px 35px;
    border-radius: 40px;
    display: inline-block;
    background-color: $yellow;
    // hover animation 
    &:hover {
        background-color: darken($color: $yellow, $amount: 10);
        color: white;
    }
}
.btn_wrapper {
    text-align: center;
}


// spacing 
@mixin padY ($t, $b) {
    padding-top: $t;
    padding-bottom: $b;
}

@mixin padX ($l, $r) {
    padding-left: $l;
    padding-right: $r;
}


.section_heading {
    @include fonts( LatoHeavy, 3rem, $black, center, uppercase );
    // responsive 
    @include resp ($sm) {
        font-size: 3.5rem;
    }
    @include resp ($md) {
        font-size: 4rem;
    }

    @include resp ($lg) {
        font-size: 4.5rem;
    }
    @include resp ($xl) {
        font-size: 5.5rem;
    }

}

.section_heading_yellow {
    @extend .section_heading;
    color: $yellow;
}

.bg_yellow {
    background-color: $yellow;
}
.yellow {
    color: $yellow!important;
}
.black {
    color: $black!important;
}
.white {
    color: $white!important;
}

.border {
    background-color: $yellow;
    height: 10px;
    width: 100%;
    // max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include resp ($md) {
        width: 450px;
    }
    @include resp ($lg) {
        width: 300px;
        margin-left: 0;
    }
}

.small_heading {
    @extend .section_heading;
    color: white;
    font-size: 1.6rem;
}