#wearecreative {
    background: url("../img/corner_bottom.png") no-repeat center top,
                url('../img/wearecreative2.jpg') no-repeat right bottom;
    background-size: 270px, 50%;


    @include resp ($lg) {
        background-size: 450px, 60%;
    }
    .container {
        .texts {
            margin-top: 80px;
        }
        .btn_wrapper {
            @include resp($xl) {
                margin-top: 80px !important;
            }
        }
    }
}
